<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @member.website %>
</p>

<p>
  <strong>Short Website:</strong>
  <%= @member.short_web %>
</p>

<p>
  <strong>Headers:</strong>
  <%= @member.headers %>
</p>

<p>
  <strong>Friends:</strong>
  <%= @member.friends %>
</p>

<%= link_to 'Back', members_path %>